
#create environment file name as .env.local
#and place following configuration data.

CONTENTSTACK_API_KEY=YOUR_API_KEY
CONTENTSTACK_DELIVERY_TOKEN=YOUR_DELIVERY_TOKEN
CONTENTSTACK_ENVIRONMENT=YOUR_PUBLISHING_ENVIRONMENT

# For setting region add  CONTENTSTACK_REGION=(Optional for US region) Eg- eu

# For live preview 
CONTENTSTACK_MANAGEMENT_TOKEN=YOUR_MANAGEMENT_TOKEN 
CONTENTSTACK_API_HOST=API_HOST_URL #eg- api.contentstack.io
CONTENTSTACK_APP_HOST=STACK_HOST_URL #eg- app.contentstack.com
NEXT_PUBLIC_CONTENTSTACK_LIVE_PREVIEW=BOOLEAN_VALUE
NEXT_PUBLIC_CONTENTSTACK_LIVE_EDIT_TAGS=BOOLEAN_VALUE

